h1 {
  color: yellow;
  background-color: black;
  font-size: 36px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 26px;
}

/* p {  
  color: green;
  background-color: yellow;
}*/

/* .text {
  color: green;
  background: yellow;
} */

.text-formatting {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* a {
  background-color: yellow;
  color: green;
  display: block;
} */

.nav {
  background-color: black;
  font-size: 26px;
  text-align: left;
}

.bold {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
